@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  font-family: Montserrat, sans-serif;

  background-color: #a0b0c0;
  color: #333333;
}

h1 {
  text-align: center;
  font-size: 1.7em;
  color: #000000;
}

form {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  background-color: #e0e0d0;
  border-radius: 5px;
}

input,
label {
  font-size: 16px;
  color: #333333;
}

input {
  width: 95%;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

#validar {
  display: block;
  margin: 10px auto;
  width: 70%;
  background-color: #035632;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#validar:hover {
  background-color: #019f5a;
}

#refrescar {
  display: block;
  margin: auto;
  width: 70%;
  background-color: #033156;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#refrescar:hover {
  background-color: #075392;
}