@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&family=Space+Grotesk:wght@300;500;600&display=swap");
* {
  font-family: Montserrat, sans-serif;
}

#container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#datos {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
   margin-bottom: 25px;
    width: 250px;
    text-align: center;
    color: #333;
    font-weight: bold;
  }

h2 {
  color: #333;
  text-align: center;
}

h4{
    text-align: center;
    margin-bottom: 25px;
}
form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 25px 25px;
  width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 75%;
  margin: 25px auto;
  display: block;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #1a721f;
}




